@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  /*display: grid;*/
/*height: 100%;*/
/*place-items: center;*/
/*text-align: center;
  background: #f2f2f2;
}*/
.slider {
  max-width: 1100px;
  display: flex;
}
.slider .card {
  flex: 1;
  margin: 0 10px;
  background: #fff;
}
.slider .card .img {
  height: 200px;
  width: 100%;
}
.slider .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content {
  padding: 10px 20px;
}
.card .content .title {
  font-size: 25px;
  font-weight: 600;
}
.card .content .sub-title {
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .content p {
  text-align: justify;
  margin: 10px 0;
}
.card .content .btn {
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card .content .btn button {
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover {
  transform: scale(0.9);
}

ul {
  margin: 0 10%;
  padding: -10px 0px 10px 100px;
  display: flex;
}

ul li {
  list-style: none;
  padding: 10px 20px;
}

ul li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: blue;
  position: relative;
  margin: -20px;
  margin-right: 20px;
}
ul li a:hover {
  background: linear-gradient(45deg, red, blue);
  border-radius: 5px;
}

ul li a::before {
  content: "";
  width: 0px;
  height: 10px;
  background: black;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.5s;
}

ul li a:hover::before {
  width: 50%;
  transform: translateX(100%);
}
.navbar-nav {
  height: 45px;
}
.d-flex input {
  margin-top: 15px;
}
.btn-outline-success {
  margin-top: 15px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-3 {
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover {
  background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}
#navigation {
  margin-top: 00px;
  place-items: cen;
}
/*#scrap {
  font-size: larger;
  flex-shrink: initial;
  margin-top: -10px;
  margin-top: 10px;
}*/
#scrap,
#home,
#about,
#blog,
#buy,
#contact {
  margin-top: 2.5px;
  font-size: large;
}
body {
  background: radial-gradient(circle, #fdfdfd, #fdfdfd);
  height: 100vh;
}
.wrapper span {
  position: fixed;
  top: -120px;
  height: 50px;
  width: 50px;
  z-index: -1;
  animation: animate 10s linear infinite;
}
.wrapper span:nth-child(1) {
  left: 60px;
  animation-delay: 0.6s;
  border: 5px solid cyan;
}
.wrapper span:nth-child(2) {
  left: 60%;
  animation-delay: 3s;
  width: 60px;
  height: 60px;
  background: #ff4293;
}
.wrapper span:nth-child(3) {
  left: 20%;
  animation-delay: 2s;
  border: 5px solid #fff;
}
.wrapper span:nth-child(4) {
  left: 30%;
  animation-delay: 5s;
  width: 80px;
  height: 80px;
  background: #befb46;
}
.wrapper span:nth-child(5) {
  left: 40%;
  animation-delay: 1s;
  border: 5px solid #ff4293;
}
.wrapper span:nth-child(6) {
  left: 50%;
  animation-delay: 7s;
  border: 5px solid deepskyblue;
}
.wrapper span:nth-child(7) {
  left: 60%;
  animation-delay: 6s;
  width: 100px;
  height: 100px;
  background: #ffd59e;
}
.wrapper span:nth-child(8) {
  left: 70%;
  animation-delay: 8s;
  border: 5px solid #befb46;
}
.wrapper span:nth-child(9) {
  left: 80%;
  animation-delay: 6s;
  width: 90px;
  height: 90px;
  background: cyan;
}
.wrapper span:nth-child(10) {
  left: 90%;
  animation-delay: 4s;
  border: 5px solid #fff;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content h2 {
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  font-family: montserrat;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 12px;
  text-align: center;
  line-height: 0.9;
}
.content h2 b {
  -webkit-text-fill-color: transparent;
  font-size: 65px;
}
@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(800px) rotate(360deg);
    opacity: 0;
  }
}
#navigation2 {
  margin-top: -40px;
}
#blogcards {
  align-self: center;
  margin-top: 50px;
  margin-left: 150px;
  justify-items: center;
}
/*footer*/
footer {
  background: #b7b7b7 none repeat scroll 0 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
}
.layout {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
}
/********Grid Widht *******/

.form-group {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
}
.grid-8 {
  width: 66.6667%;
}
.grid-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  overflow: hidden;
}

/***Section Css******/

section {
  background: #34495e;
  color: #000;
  padding: 30px 0;
}
.text-center {
  text-align: center;
}
.section-title {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}
.contact p {
  color: #929292;
  letter-spacing: 1.5px;
  padding-top: 50px;
}
.form {
  margin: 0 auto;
}
.form form {
  margin-top: 50px;
}
input {
  width: 100%;
}
.form-control {
  width: 100%;
}
.form-control {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  text-transform: capitalize;
}

.costom-btn {
  background: #22c489;
  border: 1px solid #22c489;
  color: #ffffff;
  font: bold 16px/18px "Open Sans", sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 100%;
  padding: 6px 12px;
  cursor: pointer;
}
.form-group {
  margin-top: 23px;
}
.icon-text {
  color: #ffffff;
  font: 16px/22px "Open Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 25px 0;
}
.icon-holder {
  margin: 0 auto;
  width: 265px;
}
.icon-holder ul li a {
  color: #ffffff;
  height: 38px;
  width: 38px;
}
.icon-holder ul li {
  display: inline;
  padding: 12px;
}
@media (max-width: 980px) {
  .layout {
    width: 80%px;
  }
  .grid-6 {
    width: 50%;
  }
}
@media (max-width: 640px) {
  .layout {
    width: 80%;
  }
  .form-group,
  .grid-8 {
    width: 100%;
  }
}
